body {
    font-family:'Times New Roman', Times, serif;
    margin:0;
    padding:1rem;
    background:#f6f7fb
}

header {
    display:flex;
    align-items:center;
    justify-content:space-between;
    background: linear-gradient(100deg,#ffffff 0%,#8B0000 50%);
    padding: 1.5rem 1rem;
    border-radius: 50px;
    color: #ffffff;
    position: sticky;
    top: 10px;
    z-index: 100;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header img {
    height: 30px;
}

#btn-add-listing {
    background-color: white;
    color: #8B0000;
    border: none;
    padding: 0.5rem 3rem;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    margin-inline-end: 20px;
    letter-spacing: 2px;
    font-weight: bold;
}

#btn-add-listing:hover {
    scale: 1.05;
    transition: all .5s ease;
}

section {
    display:flex;
    gap:1rem;
    align-items:center;
    position: sticky;
    top: 90px;
    background: #f6f7fb;
    padding: 1rem;
}


section select {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f9f9f9;
  font-size: 16px;
  color: #333;
  transition: all 0.3s ease;
}

section select:focus {
    outline: 2px solid #8B0000;
    box-shadow: 0 4px 18px rgba(139,0,0,0.12);
    transform: scale(1.02);
}

#search-input {
    flex: 1;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    border: 2px solid #8B0000;
    font-size: 1rem;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

#filter-reportAs {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    border: 2px solid #8B0000;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    background-color: white;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

#filter-category {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    border: 2px solid #8B0000;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    background-color: white;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

#filter-status {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    border: 2px solid #8B0000;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    background-color: white;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

#sort-order {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    border: 2px solid #8B0000;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    background-color: white;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: #8B0000;
    border-bottom: 2px solid #8B0000;
    padding-bottom: 0.5rem;
    position: flex;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: sticky;
    top: 150px;
    background: #f6f7fb;
}

h2.scrolled{
    background: #8B0000;
    color: white;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: .5rem;
    transition: all .5s ease;
}

h2.exit {
    background: #f6f7fb;
    color: #8B0000;
    transition: all .5s ease;
}



